
/**************GENERAL***************/

body{
    
    font-family:Outfit;
    margin: 0px;
    padding: 0px;
}

/**************BARRA NAVEGACIÓN***************/
nav{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2B2A2B;
    color: white;
}

ul{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

li{
    display:inline;
    padding: 8px; ;
}

.contenido1 {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex div button{
background-color: #515051;
color: white;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 24px;
padding-right: 24px;
border-radius: 4px;
}

/**************SECTION 1 CABECERA***************/
.flex2 {
    display: flex;
    height: 486px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
}
#origenes{
    background-color: #1F1815;
    color: white;
    width: fit-content; /*Ajusta tamaño de los botones*/
    height: 50px;
    border-radius: 4px;
}
#comprar{
    background-color: #2A5B45;
    color: white;
    width: 137px;
    height: 50px;
    border-radius: 4px;
}


/**************SECTION 2 CARACTERISTICAS***************/
.flex3 {
    display: flex;
    height: 380px;
    justify-content:space-evenly;
    align-items: center;
    background-image:url(../img/fondoseccion.jpeg);
    background-position: center,center;
    text-align:center;
}

.flex3 article {
    display:inline-block;
    width: 316px;
    height: 232px;
    padding: 24px;
    background-color: white;
    justify-content:center;
    align-items:center;
    margin: 5px;
    border-radius: 8px;
}

.flex3 h3{
    font-size: 18px;
}
.flex3 p{
    font-size: 14px;
}

/**************SECTION 3 CAFÉS***************/
.flex4 {
    display: flex;
    height: 558px;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    background-color: white;
}

a {
    text-decoration: none;
}

.flex4 a{
    color: white;  
}
.flex4 a:visited{
    color: #FFFFFF;
}
.contenedor{
    display: flex;
    flex-direction: row;
}
.flex4 button {
    background-color: #2A5B45;
    height: fit-content;
    border-radius: 4px;
    opacity: 70%;
    padding: 8px;
    width: fit-content;
}

.flex4 article{
   padding: 40px;
   margin: 24px;
   justify-content:space-evenly;
   align-items:center;
   border: 1px solid #E3DED7;
   border-radius: 8px;
   color: #2A5B45;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   text-align: center;
}

.flex4 h2 {
    color: #2A5B45;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/******SECTION 4 PREGUNTAS FRECUENTES*********/


/* pablo */
.flex5{
    background-color: #2A5B45;
    justify-content: center;
    padding-top:100px;
    padding-bottom: 100px;
    width: 100%;
}
/* pablo */

.flex5 h2 {
color: #FFFFFF;
text-align: center;
}

.flex5 article {
    justify-content: center;
    background-color: #FFFFFF;
    align-items: flex-start;
    border-radius:10px;
    padding:24px ;
    margin:10px ;
}
.flex5 p{
    font-size: 12px;
}
.flex5 h3 {
    font-size: 18px;
}
.flex5 #dudas {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}
.flex5 a:visited{ color: #FFFFFF;

}

/*************SECTION 5 PRUEBALO********************/
.flex6 {
    height: 480px;
    width: 100%;
    align-items: center;
    background-color: #F7F5F3;
    vertical-align: middle;
} 
.flex6 img{
    width: fit-content;
    height: 390px;
    border-radius: 20px;
    align-items: center;
} 

/*************SECTION 6 FORMULARIO********************/
.flex7 {
    display: flex;
    color:#6B7280;
}
.flex7 h2 {
color: black;
}
.flex7 #info {
    background-color: #E3DED7;
    padding: 40px;
}
.flex7 #form {
    background-color: white;
    padding: 32px;         
      } 

form{  
    margin-right: 91px;
    margin-left: 91px ;
    margin-top: 67px;
    margin-bottom: 67px;
}
.formulario input{
    width: 100%;    
}

.formulario textarea{
    width: 100%;
}

.formulario button {
    background-color:#2A5B45;
    color: #F7F5F3;
    border-radius: 4px;
    padding: 12px 24px 10;
    width: 90px;
    height: 40px;
}

.icons{
    background-color: #2B5B45;
    padding: 17px;
    border-radius: 20px;
}
/*************SECTION 7 PIE DE PÁGINA********************/

footer {
    display: inline-flex;
    width: 100%;
    padding-left: 40px;
    height: 310px;
    align-items: center;
    background-color:#1F1815 ;
    color:white;
}

footer div ul {    
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

footer a:visited {    
    color: #FFFFFF;
}

footer button{
    background-color: #515051;
    margin:8px ;
}

#phone{
    background-color: #403e40;
    width: 182px;
    height: 48px;
    color:#FFFFFF;
    justify-content: space-evenly;
}

#phone i {
    margin: 4px;
}

#email{
    background-color: #403e40;

    width: 232px;
    height: 48px;
    justify-content: space-evenly;
    color:#FFFFFF;
}

#email i {
    margin: 4px;
}
.input-group-text {
background-color: #FFFFFF;
}

#copyright{
        width:100%;
        text-align: center;
        height: 40px;
        background-color: #2B2A2B;
        color: #E3DED7;
        font-size: 14px;
        padding-top: 12px;
}
#copyright p{
    height: 40px;
}
